/*
    Created on : Mar 31, 2017, 4:42:06 AM
    Author     : Imran Amanat and Jalsonic Networks Team
*/
a.openlink {
  color: #FFFFFF;
}
.promobox {
  height: 252px;
  width: 584px;
  margin: 0 auto;
  xborder: solid #d43f3a 1px;
  margin-bottom: 10px;
}
.content-body {
  background-color: #FFFFFF;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 0px 0px;
  margin-top: 60px;
  padding-bottom: 0px;
}
.content-body-nocolor {
  margin: 0px 0px;
  margin-top: 60px;
  padding-bottom: 0px;
}
.sectionbox {
  border-bottom: 2px solid #DEF0F9;
}
header {
  position: fixed;
  z-index: 99;
  top: 0px;
  left: 0px;
  width: 100%;
  display: block;
  background-color: #1e7cb9;
  padding: 0 !important;
  height: 60px;
}
header .logo {
  float: left;
  margin: 5px 0px 0px 15px;
}
header .jalsonic-nav {
  float: left;
  margin-left: 17px;
}
header .menu {
  color: #FFFFFF !important;
  float: left;
  background-color: #1e7cb9;
  font-size: 13px;
  padding: 22px 11px;
  cursor: pointer;
}
header .menu:hover,
header .mobile-menu:hover {
  background-color: #1A6DA3;
}
header .mobile-nav {
  font-size: 25px;
  background: #1e7cb9;
  float: right;
  padding: 15px;
  color: #FFFFFF;
  cursor: pointer;
}
header .mobile-nav {
  position: relative;
  background-color: #1e7cb9;
  color: #FFFFFF;
  cursor: pointer;
  display: none;
}
header .mobile-nav-off {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 999;
  opacity: 0.93;
}
header .mobile-nav-off .close {
  font-size: 30px;
  color: #baseColor;
  position: absolute;
  top: 14px;
  right: 15px;
}
header .mobile-nav-con {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background-color: #1e7cb9;
  z-index: 999;
  font-size: 20px;
  text-align: left;
  overflow-x: scroll;
}
header .mobile-nav-con li {
  background-color: #1e7cb9;
  padding: 15px;
  color: white !important;
}
header .mobile-nav-con li a.white {
  color: #FFFFFF !important;
}
.cover {
  background-image: url(../images/7e1f38ec-4967-4b11-b0c4-fe3b57241151.jpeg);
  height: 95vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cover .bg-overlay-1 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #e54028;
  background: rgba(30, 124, 185, 0.9);
  z-index: 0;
}
.cover .bg-overlay-1 .text-div {
  padding: 5%;
}
.cover .bg-overlay-1 .text-div H1 {
  text-align: left;
  color: #FFFFFF;
  font-size: 64px;
  width: 990px;
  display: block;
  margin: 0px auto;
  padding-top: 6%;
}
footer {
  background-color: #0C314B;
  padding-top: 50px;
}
footer .share-con {
  margin: 0px;
  float: right;
  width: 347px;
  height: 110px;
}
footer .share-con a .shareBox {
  height: 100px;
  width: 100px;
  margin: 5px;
  float: right;
  background-image: url(../images/whiteOpacity10.png);
  cursor: pointer;
}
footer .share-con a .shareBox > i.fa {
  font-size: 36px;
  margin: 11px 35px;
  color: #FFF;
  margin-top: 18px;
}
footer .share-con a .shareBox > div.text {
  font-size: 14px !important;
  text-align: center;
  color: #fff;
}
footer .footerlogo {
  float: left;
  margin: 5px 0px 0px 15px;
}
footer .contactus {
  float: left;
  color: #FFFFFF;
  font-size: 12px;
  margin: 13px 0px 0px 14px;
}
footer .contactus strong {
  font-weight: bold;
}
footer .topline {
  border-top: solid 1px #185B8D;
  margin-top: 50px;
}
footer .topline .containertext {
  color: #FFFFFF;
  font-size: 12px;
  padding: 23px;
  padding-left: 41px;
}
.ourmission {
  background-color: #228BCF;
  padding-bottom: 15px;
}
.ourmission h1 {
  font-size: 45px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 28px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
}
.ourmission p {
  color: #FFFFFF;
  font-size: 20px;
  padding-left: 29px;
  line-height: 31px;
  font-family: 'Abel', sans-serif;
}
.ourmission .icon {
  height: 247px;
  margin: 0 auto;
  display: block;
}
.ourVision {
  background-color: #2E98DD;
  padding-bottom: 15px;
}
.ourVision h1 {
  font-size: 45px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 28px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
}
.ourVision p {
  color: #FFFFFF;
  font-size: 20px;
  padding-left: 29px;
  line-height: 31px;
  font-family: 'Abel', sans-serif;
}
.ourVision .icon {
  height: 247px;
  margin: 0 auto;
  display: block;
}
.section-about {
  padding-bottom: 35px;
}
.section-about p {
  font-size: 16px;
  padding: 5px;
  text-justify: justif;
  display: block;
  margin: auto;
  width: 70%;
  text-align: justify;
  text-justify: distribute;
  font-family: 'Abel', sans-serif;
}
.section-title .title {
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 27px;
  color: #1e7cb9;
  font-family: 'Raleway', sans-serif;
}
.section-cybersecure {
  padding-bottom: 35px;
}
.section-cybersecure p {
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  text-align: justify;
  xtext-justify: distribute;
  margin: 24px 0px -19px 0px;
}
.section-whysni {
  padding-bottom: 35px;
}
.section-whysni h1 {
  text-align: center;
  padding: 5px;
  font-size: 17px;
  color: #1e7cb9;
  font-family: 'Raleway', sans-serif;
}
.section-whysni p {
  font-size: 16px;
  text-align: center;
  font-family: 'Abel', sans-serif;
}
.testimonial-1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.testimonial {
  background-image: url(../images/testimonial.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.testimonial .commoa {
  text-align: center;
  padding: 30px 0px;
}
.testimonial .flexslider li {
  font-size: 15px;
  text-align: center;
  font-family: 'Abel', sans-serif;
}
.testimonial .flexslider li .tms {
  margin-top: 31px;
}
.section-conserv {
  padding-bottom: 35px;
  margin-top: 20px;
  font-size: 15px;
  font-family: 'Abel', sans-serif;
}
.section-conserv h1 {
  text-align: left;
  padding: 5px;
  font-size: 17px;
  color: #1e7cb9;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
}
.section-conserv p {
  text-align: justify;
  padding: 5px;
}
.section-conserv ol {
  list-style: inside;
  list-style-type: decimal;
  margin-top: 15px;
}
.section-conserv ul {
  list-style: inside;
  list-style-type: circle;
  margin-top: 15px;
}
.section-conserv strong {
  font-weight: bold;
  padding: 5px;
  text-align: left;
}
.jalsonic-form {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 58%;
}
.jalsonic-form input,
.jalsonic-form textarea,
.jalsonic-form select {
  border: solid 1px #1e7cb9;
  box-shadow: none;
  font-family: 'Abel', sans-serif;
}
.jalsonic-form input:focus,
.jalsonic-form textarea:focus,
.jalsonic-form select:focus {
  box-shadow: none;
  border: solid 2px #1e7cb9;
}
.jalsonic-form button,
.jalsonic-form submit {
  border: solid 1px #1e7cb9;
  background-color: #1e7cb9;
  display: block;
  margin: 0 auto;
  width: 50%;
  color: #FFFFFF;
}
.jalsonic-form button:hover,
.jalsonic-form submit:hover {
  color: #FFFFFF;
}
.jalsonic-form .form-success {
  padding: 18px;
  color: green;
  font-size: 16px;
}
.jalsonic-form .error_message {
  padding: 18px;
  color: red;
  font-size: 16px;
}
.logo {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
}
.section-news {
  padding-bottom: 35px;
}
.section-news ul {
  padding: 100px;
}
.section-news .date {
  font-size: 18px !important;
  font-weight: bold;
  font-family: 'Abel', sans-serif;
  padding: 5px;
  border-bottom: 2px solid #1e7cb9;
  margin-bottom: 13px;
}
.section-news p {
  font-size: 16px !important;
  font-family: 'Abel', sans-serif;
  padding: 5px;
}
/*# sourceMappingURL=custom.css.map */