
/*
    Created on : Mar 31, 2017, 4:42:06 AM
    Author     : Imran Amanat and Jalsonic Networks Team
*/


@baseColor: #1e7cb9;

@menuHover: #1A6DA3;

@colorWhite: #FFFFFF;
@titleFont: 'Raleway', sans-serif;
@titleDespFont: 'Abel', sans-serif;



@header-leftright-radius: 30px;



.webColor(){
        background: #10656d; /* Old browsers */
    background: -moz-linear-gradient(left,  #10656d 0%, #00a1af 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #10656d 0%,#00a1af 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #10656d 0%,#00a1af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10656d', endColorstr='#00a1af',GradientType=1 ); /* IE6-9 */
}

a.openlink{
    color: @colorWhite;
}

.promobox{
    height: 252px; width: 584px; margin: 0 auto; xborder: solid #d43f3a 1px; margin-bottom: 10px;
}


.js-body-content(){
     margin: 0px 0px; margin-top: 60px; padding-bottom: 0px;
}

.sectionBottomPadding(){
    padding-bottom: 35px;
}


.content-body{
     background-color: #FFFFFF;   border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;  .js-body-content;
}

.content-body-nocolor{
    .js-body-content;
}

.sectionbox{
    border-bottom: 2px solid #F2F2F2;
}

header{
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px;
    width: 100%;
    display: block;
    background-color: @baseColor;  padding: 0 !important;
    height: 60px;
    
    
    .logo{
        float: left;
        margin: 5px 0px 0px 15px;
    }
    
    .jalsonic-nav{
        float: left;
        margin-left: 17px;
    }
    
    .menu{
        color: @colorWhite !important;
        float: left;
        background-color: @baseColor;
        font-size: 13px;
        padding: 22px 11px;
        cursor: pointer;
    }
    
    .mobile-menu{
        
    }
    
    .menu:hover , .mobile-menu:hover{
        background-color: @menuHover;
    }
    
    .mobile-nav{
        font-size: 25px;
        background: @baseColor;
        float: right;
        padding: 15px;
        color: #FFFFFF;
        cursor: pointer;
    }
    
    
    .mobile-nav{
        position: relative;
        background-color: @baseColor;
        color: @colorWhite;
        cursor: pointer;
        display: none; 
    }

    .mobile-nav-off{
        position: fixed; top: 0px; left: 0px; width: 0%; height: 100%; background-color: @colorWhite; z-index:999; opacity: 0.93;

        .close{
            font-size: 30px;
            color: #baseColor;
            position: absolute;
            top: 14px;
            right: 15px;
        }
    }

    .mobile-nav-con{
        position: fixed; top: 0px; left: 0px; width:0px; height: 100%; background-color: @baseColor; z-index:999; font-size: 20px;
        text-align: left;
        overflow-x: scroll;

        li{
            background-color: @baseColor;
            padding: 15px;
            color: white !important;

            a.white{
                color: @colorWhite !important;
            }
        }
    }
    
    
    
    
}

.cover{
    background-image: url(../images/7e1f38ec-4967-4b11-b0c4-fe3b57241151.jpeg);
    height: 95vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    .bg-overlay-1 {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #e54028;
        background: rgba(30,124,185, .9);
        z-index: 0;
        
        
        .text-div{
                padding: 5%;
            
            H1{
                text-align: left;
                color: #FFFFFF;
                font-size: 64px;
                width: 990px;
                display: block;
                margin: 0px auto;
                padding-top: 6%;
            }
            
        }
        
        
        
    }

}





footer{
    background-color: #0C314B;
    padding-top: 50px;
    
    
        .share-con { margin: 0px; float: right; width: 347px; height: 110px;

            a .shareBox{ height: 100px; width: 100px; margin: 5px; float: right; background-image: url(../images/whiteOpacity10.png); cursor: pointer; }
            a .shareBox > i.fa{ font-size: 36px; margin: 11px 35px; color: #FFF; margin-top: 18px; }
            a .shareBox > div.text{ font-size: 14px !important; text-align: center; color: #fff; }

        }
        
        .footerlogo{
            float: left;
            margin: 5px 0px 0px 15px;
        }
        
       .contactus{
            float: left;
            color: @colorWhite;
            font-size: 12px;
            margin: 13px 0px 0px 14px;
            
            strong{
                font-weight: bold;
            }
       }
       
       .topline{
           border-top: solid 1px #185B8D;
           margin-top: 50px;
               
            .containertext{
                color: @colorWhite;
                font-size: 12px;
                padding: 23px;
                padding-left: 41px;
           }
       }
}
 

.ourmission {
    background-color: #228BCF;
    padding-bottom: 15px;
    
    h1{
        font-size: 45px;
        font-weight: bold;
        color: #FFFFFF;
        padding: 28px;
        text-align: left;
        font-family: @titleFont;
    }
    
    p{
        color: #FFFFFF;
        font-size: 20px;
        padding-left: 29px;
        line-height: 31px;
        font-family: @titleDespFont;
    }
    
    .icon{
        
        height: 247px;
        margin: 0 auto;
        display: block;
        
    }
    
}

.ourVision{
    background-color: #2E98DD;
    padding-bottom: 15px;
    
    h1{
        font-size: 45px;
        font-weight: bold;
        color: #FFFFFF;
        padding: 28px;
        text-align: left;
        font-family: @titleFont;
    }
    
    p{
        color: #FFFFFF;
        font-size: 20px;
        padding-left: 29px;
        line-height: 31px;
        font-family: @titleDespFont;
    }
    
    .icon{
        
        height: 247px;
        margin: 0 auto;
        display: block;
    }
}



.section-about{
    
   .sectionBottomPadding();
    
    p{
        font-size: 13px;
        padding: 5px;
        text-justify: justif;
        display: block;
        margin: auto;
        width: 70%;
        text-align: justify;
        text-justify: distribute;
        font-family: @titleDespFont;
    }
}

.section-title{
    
    .title{
        text-align: center;
        font-size: 27px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 27px;
        color: @baseColor;
         font-family: @titleFont;
    }
}



.section-cybersecure{
    .sectionBottomPadding();
    
    p{
        font-family: @titleDespFont;
        font-size: 16px;
        text-align: justify;
        xtext-justify: distribute;
        margin: 24px 0px -19px 0px;
    }
    
    .button{
        width: 100%;
        margin-top: 37px;
        font-size: 12px;
        padding: 9px;
        background-color: @baseColor;
        border: solid 1px @baseColor;
        color: #FFFFFF
    }
}


.section-whysni{
    .sectionBottomPadding();
    
    
h1{
    text-align: center;
    padding: 5px;
    font-size: 17px;
    color: @baseColor;
    font-family: @titleFont;    
}

p{
    font-size: 16px;
text-align: center;
     font-family: @titleDespFont; 
}
}





.testimonial(){
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 25px;
}

.testimonial-1{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.testimonial{
        background-image: url(../images/testimonial.png);
        .testimonial-1;
        
        .commoa{
            text-align: center;
            padding: 30px 0px;
        }
        
        .flexslider li{
            font-size: 15px;
            text-align: center;
             font-family: @titleDespFont;
            
            .tms{
                margin-top: 31px;
            }
        }
        
}

.section-conserv{
    .sectionBottomPadding();
    margin-top: 20px;
    font-size: 15px;
    font-family: @titleDespFont;
    
    h1{
            text-align: left;
            padding: 5px;
            font-size: 17px;
            color: @baseColor;
            font-family: @titleDespFont;
            font-weight: bold;
    }
    p{
            text-align: justify;
            padding: 5px;
    }
    
    ol{
        list-style:inside;
        list-style-type: decimal;
        margin-top: 15px;
        
    }
    
    ul{
                list-style:inside;
        list-style-type: circle;
        margin-top: 15px;
    }
    
    strong{
        font-weight: bold;
        padding: 5px;
        text-align: left;
    }
}


.jalsonic-form{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 58%;
    
    input, textarea, select{
        border: solid 1px @baseColor;
        box-shadow: none;
        font-family: @titleDespFont; 
    }
    
    input:focus, textarea:focus, select:focus{
         box-shadow: none;
         border: solid 2px @baseColor;
    }
    
    button, submit{
        border: solid 1px @baseColor;
        background-color: @baseColor;
        display: block;
        margin: 0 auto;
        width: 50%;
        color: @colorWhite;
    }
    
    button:hover, submit:hover{

        color: @colorWhite;
    }
    
    
    .form-success{
        padding: 18px;
        color: green;
        font-size: 16px;
    }
    
    .error_message{
        padding: 18px;
        color: red;
        font-size: 16px;
    }
    
}


.logo
{
  // filter: gray; /* IE6-9 */
 // -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
   -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  cursor:pointer;
}


.logo:hover
{
  //filter: none; /* IE6-9 */
  //-webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}



.section-news{

    .sectionBottomPadding();
    
    
    
    ul{
        padding: 100px;
    }

    .date {
        font-size: 18px !important;
        font-weight: bold;
        font-family: @titleDespFont;
        padding: 5px;
        border-bottom: 2px solid @baseColor;
        margin-bottom: 13px;
    }
    
    p {
        font-size: 16px !important;
        font-family: @titleDespFont;
        padding: 5px;
    }
}