/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 7, 2017, 5:09:13 PM
    Author     : Imran Amanat
*/

/* Extra small devices (phones, 320px and up) */
@media (min-width: 10px) and (max-width: 320px) { 


}

@media (min-width: 321px) and (max-width: 480px) { 



}


/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
   
       .js-image-side{
      display: none;
   }
   
      .js-sign-side{
        width: 100% !important;
   }
   
}



@media (max-width: 992px) { 
   .js-image-side{
        width: 49%;
   }
   
   .js-sign-side{
        width: 49%;
   }
   
   .js-image-side .vbr-l {
    width: 83%;
    margin: auto auto;
}
    
}


