/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2016, 7:15:09 PM
    Author     : Imran Amanat
*/

/* Extra small devices (phones, 320px and up) */
@media (max-width: 320px) { 
    
    header .mobile-nav {
        display: block;
    }
    
    header .jalsonic-nav {
        display: none;
    }

}


/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  
      header .mobile-nav {
        display: block;
    }
    
    header .jalsonic-nav {
        display: none;
    }
    
    footer .share-con {
        margin: 27px 0px 0px 10px;
        float: left;
        width: auto;
        height: 110px;
    }
    
    footer .topline .containertext {
        padding-left: 17px !important;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {

   

}


/* Large devices (large desktops, 1200px and up) */

@media ( max-width: 1200px ) {
   
}
